$border-color:#eee;
$border-radius:2px;
$max-width:520px;

.comp.to-do{
    max-width: $max-width;
    margin:10px auto 0 auto;
    border:solid 1px $border-color;
    border-radius: $border-radius;

    .to-do-form,
    .task-item{
        display: flex;
        align-items: center;
    }

    .to-do-form{
        padding: 5px 0;
    }


    .new-task-input{
        flex: 1;
        text-indent: 5px;
        border:solid 1px $border-color;
    }

    .new-task-btn{
        margin: 0 10px 0 15px;
    }

    input[type="checkbox"]{
        margin:0 20px 0 15px;
        cursor: pointer;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .task-item{
        padding: 10px 0;

        &:nth-of-type(even){
            background-color: #eee;
        }

        > input[type="checkbox"]{

            &:checked + div{
                text-decoration: line-through;
            }

        }
    }

    .task-body{
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .remove-task-btn{
        background-color: white;
        border: solid 1px $border-color;
        color:gray;
        border-radius: 50%;
        outline: none;
        margin: 0 10px;
    }
  
}